/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Basic styling */
body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.6;
  background-color: #f4f4f4;
}

h4{
  display: flex;
  justify-content: center;
}

h6{
  display: flex;
  justify-content: center;
}

.section{
  margin-top: 20px;
}

.comparar{
  font-family: "Arial";
  font-weight: 750;
  font-style: bold;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 300px;
  background-color: transparent;
  border-radius: 20px;
  height: 35px;
  border-color: #8c8c8c;
}

.container {
  display: flex;
  align-items: center;
  padding: 10px 50px;
}

.container-header {
  display: flex;
  align-items: center;
  background-color: #2a2f38;
}

.container-cards {
  justify-content: center;
}

.guia-botoes {
  font-size: 12px;
  font-family: "Arial";
  font-weight: 550;
  font-style: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
}

.header-acoes {
  align-items: center;
  justify-content: center;
  
}

.logo {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.logo img {
  max-width: 11%;
  height: auto;
  margin-left: 45px;
}

.info-logo h1 {
  font-size: 25px;
  width: 15px;
  margin-left: 20px;
  color: #f4f4f4;
}

.info-logo h2 {
  font-size: 12px;
  width: 15px;
  margin-left: 20px;
  color: #f4f4f4;
}

.info-logo {
  display: flex;
  flex-direction: column;
}

.pro{
  font-size: 15px;
}

.pro-btn {
  width: 83px;
  height: 40px;
  background-color: #c0af59;
  border-radius: 20px;
  border: none;
}

.carteira-btn {
  width: 110px;
  height: 30px;
  border-radius: 20px;
  margin-left: 20px;
}

.profile-btn{
  margin: 20px;
  width: 90px;
  height: 40px;
  border-radius: 20px;
  border-color: #c0af59;
  margin-left: 100px;
}

.brand {
  font-size: 1.5rem;
}

.card-header {
  border-radius: 5px 5px 0px 0px;
  background-color: #293038;
  height: 30px;
  width: 160px;
}

.card-header span {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}

.card-cotacao {
  font-family: "Arial";
  font-weight: 550;
  font-style: bold;
  border-radius: 5px;
}

.card-varicao {
  font-family: "Arial";
  font-weight: 550;
  font-style: bold;
  border-radius: 5px;
}

.card-pl {
  font-family: "Arial";
  font-weight: 550;
  font-style: bold;
  border-radius: 5px;
}

.card-pvp {
  font-family: "Arial";
  font-weight: 550;
  font-style: bold;
  border-radius: 5px;
}

.card-dy {
  font-family: "Arial";
  font-weight: 550;
  font-style: bold;
  border-radius: 5px;
}

.card-body {
  text-align: center;
  width: 160px;
  height: 40px;
  background-color: white;
  border-radius: 0px 0px 5px 5px;
  font-size: 22px;
}

.header-grafico{
  height: 40px;
  width: 80%x;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.grafico {
  background-color: white;
  text-align: center;
  border-radius: 20px;
}

.grafico img {
  padding: 10px;
  align-items: center;
  width: 80%;
  margin-left: 50px;
}

.img-logo{
  margin-right: 10px;
  display: inline;
  width: 10%;
  height: 10%;
  border-radius: 20px;
  align-items: center;
}



.carteira, .fav, .compartilhar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 2px solid #cccccc7a; 
  border-radius: 10px; 
  width: 40px; 
  height: 40px;
  margin: 0 8px;
}

.carteira i, .fav i, .compartilhar i {
  font-size: 20px;
  color: #c0af59; 
}

.icone-graf i{
  height: 30px;
  width: 30px;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
}

.icone-graf i span{
  
  align-items: center;
  height: 30px;
  width: 30px;
}

.icone-graf{
  font-family: "Arial";
  font-weight: 550;
  font-style: bold;
  font-size: 20px;
  color: #2a2f38;
}

.header-renta{
  height: 40px;
  width: 80%x;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  /* background-color: #293038; */
  align-items: center;
}

.icone-renta i{
  height: 30px;
  width: 30px;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
}

.icone-renta i span{
  align-items: center;
  height: 30px;
  width: 30px;
}

.icone-renta{
  font-family: "Arial";
  font-weight: 550;
  font-style: bold;
  font-size: 20px;
  color: #2a2f38;
}

 .negativo{
  font-family: "Arial";
  font-weight: 550;
  font-style: bold;
  color: red;
 }

 .positivo{
  font-family: "Arial";
  font-weight: 550;
  font-style: bold;
  color: green;
 }

 .tabela{
  margin: auto;
  width: 80%;
 }

.tabela thead{
  color: #767676;
  font-size: 15px;
}


#bars{
  margin-right: 10px;
  font-size: 20px;
}

#user{
  margin-left: 10px;
  font-size: 20px;
}

#simbolos{
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#cards {
  font-family: "Arial";
  font-weight: 550;
  font-style: bold;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

#header-logos ul{
  display: flex;
}

#header-logos ul li{
  align-items: center;
  margin-right: 20px;
  text-align: center;
}

#header-logos ul li i{
  margin-right: 5px;
  font-size: 25px;
}

#header-logos ul li span{
  color: #f4f4f4;
  font-family: "Arial";
  font-weight: 550;
  font-style: bold;
  display: inline-block;
  vertical-align: middle;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline;
  margin-left: 20px;
}

nav ul li:first-child {
  margin-left: 0;
}

nav ul li a {
  text-decoration: none;
  color: #333;
}

div ul li {
  display: inline;
  margin-right: 5px;
}

div ul li a {
  text-decoration: none;
  color: #333;
}

main {
  padding: 20px 50px;
}

table{
  width: 50px;
  height: 90px;
}

footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}
