/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Basic styling */
body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.6;
  background-color: #f4f4f4;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
}

.container-header {
  display: flex;
  align-items: center;
  background-color: red;
}

.container-cards {
  /* display: flex; */
  justify-content: center;
}

.guia-botoes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
}

.header-acoes {
  align-items: center;
  justify-content: center;
}

.logo {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.logo img {
  max-width: 8%;
  height: auto;
  margin-left: 45px;
}

.info-logo h1 {
  font-size: 25px;
  width: 15px;
  margin-left: 20px;
}

.info-logo h2 {
  font-size: 12px;
  width: 15px;
  margin-left: 20px;
}

.info-logo {
  display: flex;
  flex-direction: column;
}

.pro-btn {
  width: 60px;
  height: 25px;
  background-color: rgb(160, 136, 49);
  border-radius: 20px;
  border: none;
}

.carteira-btn {
  width: 110px;
  height: 25px;
  border-radius: 20px;
}

.brand {
  font-size: 1.5rem;
}

#cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 10px;
}

.card-header {
  border-radius: 5px 5px 0px 0px;
  background-color: #333;
  height: 30px;
}

.card-header span {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.card-cotacao {
  border-radius: 5px;
  background-color: red;
}

.card-varicao {
  border-radius: 5px;
  background-color: red;
}
.card-pl {
  border-radius: 5px;
  background-color: red;
}

.card-pvp {
  border-radius: 5px;
  background-color: red;
}
.card-dy {
  border-radius: 5px;
  background-color: red;
}

.card-body {
  text-align: center;
  width: 100px;
  height: 50px;
  background-color: red;
  border-radius: 0px 0px 5px 5px;
}

.grafico {
  background-color: #333;
}

.grafico img {
  padding: 10px;
  align-items: center;
  width: 80%;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline;
  margin-left: 20px;
}

nav ul li:first-child {
  margin-left: 0;
}

nav ul li a {
  text-decoration: none;
  color: #333;
}

div ul li {
  display: inline;
  margin-right: 5px;
}

div ul li a {
  text-decoration: none;
  color: #333;
}

main {
  padding: 20px 50px;
}

footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}
